$palette: (
  primary: #8ff4ff,
  dark-primary: #1b2e30,
  primary-logo: #73c8d1,
  secondary: #102e54,
  primary-text: #102e54,
  secondary-text: #757575,
  divider: #BDBDBD
);

@function color($color-name) {
  @return map-get($palette, $color-name);
}

@mixin fixNavBreakpoint {
  @media(max-width: 1500px) {
    @content;
  }
}

@mixin iPadPro {
  @media(max-width: 1024px) {
    @content;
  }
}

@mixin iPad {
  @media(max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media(max-width: 414px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh; 
  justify-content: center; 
  width: 100vw; 
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  position: fixed;
  width: 100%; 
}

// HEADER
.header {
  align-items: center;
  background: linear-gradient(90deg, color(primary), color(dark-primary));
  display: flex;
  justify-content: space-around; 
  min-height: 10%;
  width: 100%;

  @include iPadPro {
    justify-content: space-between;
    height: 5%;
    padding: 0 20px;
  }
}

.logo {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  & div:nth-child(1) {
    border: solid 4px;
    color: color(secondary); 
    padding: 12px;

    @include mobile {
      padding: 8px;
    }
  }

  & div:nth-child(2) {
    align-items: center;
    background: color(secondary);
    color: color(primary-logo);
    display: flex; 
    padding: 12px;
  }

  @include mobile {
    font-size: 8px;
  }
}

.nav {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  width: 17%;

  & span:hover {
    cursor: pointer;
  }

  @include fixNavBreakpoint {
    width: 255px;
  }

  @include iPad {
    font-size: 14px;
  }

  @include mobile {
    font-size: 10px;
    width: 170px;   
  }
}

// CANVAS
.canvas {
  align-items: center;
  background: #eee;
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
}

// DISPLAY
.display {
  align-items: center;
  background: #fff;
  box-shadow: 0px 1px 5px #BDBDBD; 
  display: flex;
  margin: 20px 0;
  min-height: 140px;
  padding: 0 20px;
  width: 63%;

  & img {
    transform: scale(.8);
  }

  &__info {
    display: flex;
    width: 140px;

    & ul:nth-child(1) {
      color: color(secondary-text);
      list-style-type: none;
      text-align: right;
      width: 50%; 

      @include mobile {
        text-align: left;
      }
    }

    & ul:nth-child(2) {
      color: color(secondary);
      font-weight: bold;
      list-style-type: none;
      padding: 0 10px;
      width: 50%;

      @include mobile {
        padding: 0;
      }
    }

    & li {
      margin: 10px 0;
    }

    @include mobile {
      font-size: 12px;
      width: 100px;
    }
  }

  @include iPadPro {
    height: 150px;
    margin: 0;
    width: 100%;
  }

  @include mobile {
    justify-content: center;
    padding: 0;
  }
}

// LIST
.list {
  display: grid;
  grid-gap: 20px 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 63%;

  @include iPadPro {
    margin: 0;
    overflow-y: scroll;
    padding: 10px;
    width: 100%;
  }

  @include iPad {
    grid-gap: 0;
  }
}

.card {
  align-items: center;
  background: #fff;
  box-shadow: 0px 1px 5px #BDBDBD;
  display: flex;
  transition: background .3s;

  & ul {
    list-style-type: none;
  }

  & li:nth-child(1) {
    color: color(primary-text);
    font-weight: bold;  
  }

  & li:nth-child(2) {
    color: color(secondary-text);
  }

  & img {
    transform: scale(.8);
  }
}

.card:hover {
  cursor: pointer;
}

input[type="radio"] {
  left: -99999px;
  position: absolute; 
}

input[type="radio"]:checked +.card {
  background: color(secondary);

  & li:nth-child(1),
  & li:nth-child(2) {
    color: #fff;
  }
}