$palette: (
  primary: #8ff4ff,
  dark-primary: #1b2e30,
  primary-logo: #73c8d1,
  secondary: #102e54,
  primary-text: #102e54,
  secondary-text: #757575,
  divider: #BDBDBD
);

@function color($color-name) {
  @return map-get($palette, $color-name);
}

@mixin fixNavBreakpoint {
  @media(max-width: 1500px) {
    @content;
  }
}

@mixin iPadPro {
  @media(max-width: 1024px) {
    @content;
  }
}

@mixin iPad {
  @media(max-width: 768px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center; 
  width: 100vw;
  height: 100vh; 
}

.container {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
}

// HEADER
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, color(primary), color(dark-primary));
  height: 10%;
  width: 100%;

  // @include iPadPro {
  //   justify-content: space-between;
  //   height: 5%;
  //   padding: 50px;
  // }

  // @include iPad {
  //   height: 10%;
  //   justify-content: space-between;
  //   padding: 25px;
  // }
}

.logo {
  cursor: pointer;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;

  & div:nth-child(1) {
    color: color(secondary);
    border: solid 4px;
    padding: 12px;
  }

  & div:nth-child(2) {
    display: flex;
    align-items: center;
    background: color(secondary);
    color: color(primary-logo);
    padding: 12px;
  }

  // @include iPad {
  //   transform: scale(.8);
  // }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  width: 17%;

  & span:hover {
    cursor: pointer;
  }

  // @include fixNavBreakpoint {
  //   width: 255px;
  // }

  // @include iPad {
  //   font-size: 14px;
  // }
}

// CANVAS
.canvas {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90%;
  background: #eee;
  width: 100%;

  // @include iPadPro {
  //   height: 95%;
  // }

  // @include iPad {
  //   height: 90%;
  // }
}

// DISPLAY
.display {
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0px 1px 5px #BDBDBD; 
  width: 70%;
  height: 30%;
  margin: 20px 0;
  padding: 0 20px;
  z-index: 1;

  & img {
    transform: scale(.8);
  }

  &__info {
    display: flex;
    width: 140px;

    & ul:nth-child(1) {
      list-style-type: none;
      text-align: right;
      width: 50%;
      color: color(secondary-text);
    }

    & ul:nth-child(2) {
      padding: 0 10px;
      list-style-type: none;
      width: 50%;
      font-weight: bold;
      color: color(secondary);
    }

    & li {
      margin: 10px 0;
    }
  }

  // @include iPadPro {
  //   width: 100%;
  //   margin: 0;
  //   height: 150px;
  // }
}

// LIST
.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 70%;
  height: 70%;
  z-index: 0;

  // @include iPadPro {
  //   width: 80%;
  //   margin: 0;
  //   overflow: scroll;
  // }
}

.card {
  background: #fff;
  display: flex;
  align-items: center;
  width: 420px;
  height: 150px; 
  box-shadow: 0px 1px 5px #BDBDBD;
  transition: background .3s;
  margin: 10px 0;

  & ul {
    list-style-type: none;
  }

  & li:nth-child(1) {
    font-weight: bold;
    color: color(primary-text);
  }

  & li:nth-child(2) {
    color: color(secondary-text);
  }

  & img {
    transform: scale(.8);
  }

  // @include iPad {
  //   width: 350px;
  // }
}

.card:hover {
  cursor: pointer;
}

input[type="radio"] {
  left: -99999px;
  position: absolute; 
}

input[type="radio"]:checked +.card {
  background: color(secondary);

  & li:nth-child(1),
  & li:nth-child(2) {
    color: #fff;
  }
}